## MAC OS
.DS_Store

# Output from running any commands
*.csv
*.txt

# Javascript formatting sceripts containing my URL's
*[1-9].js

# In case you save a spreadsheet
*.xls
*.ods

# Local backups
*.bak

# Downloaded data used for examination and testing
/Teabox-packs/
/Teabox-teas/
