## MAC OS
.DS_Store

# Output from running any commands
*.csv
*.txt

# Hide temporary versions of scripts from git
*[1-9].awk
*[1-9].js
*[1-9].sh

# In case you save a spreadsheet
*.xls
*.ods

# Local backups
*.bak

# Downloaded data used for examination and testing
/Teabox-packs/
/Teabox-teas/
